<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link  rel="icon" href="./icons/logo1.png" type="image/x-icon" />

   <!-- styles -->
   <link rel="stylesheet" href="/css/dashboard.css">

   <title>TrackRecord</title>

   <!-- CHARTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<body>
   <main>
      <header>
         <h1>Good <span id="day-indicator">Morning</span>, <span id="name"><%= name %></span></h1>
         <p>Welcome to your Financial Insights.</p>
      </header>
      <section class="head-section">
         <div class="totalbalance">
            <div class="top1">
               <img class="left" src="../icons/total-bal.svg" height="30" weight="30" alt="balance-icon" >
               <p class="right"><span><img src="../icons/arrow.svg" height="15" weight="15" alt="arrow"></span id="added-percent-balance">+5%</p>
            </div>
            <div class="bot1">
               <div class="left">
                  <p class="balance-text">Total Balance</p>
                  <p class="balance-num">₱ 20, 200.75</p>
               </div>
               <div class="right">
                   <canvas id="total_balance_chart" style="width:100%;max-width:600px"></canvas>

               </div>
            </div>
         </div>
         <div class="totalincome">
            <div class="top1">
              <img class="left" src="../icons/total-income.svg" height="30" weight="30" alt="income-icon" >
               <p class="right"><span><img src="../icons/arrow.svg" height="15" weight="15" alt="arrow"></span id="added-percent-balance">+5%</p>
            </div>
            <div class="bot1">
               <div class="left">
                  <p class="income-text">Income</p>
                  <p class="income-num">₱ 20, 200.75</p>
               </div>
               <div class="right">
                  <div class="total-income-graph">
                   <canvas id="total_income_chart" style="width:100%;max-width:600px"></canvas>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="mid-section">

      </section>
      <section class="bot-section">

      </section>
   </main>
   <!-- side navigation -->
   <nav id="sideNav" class="sideNav">
      <div class="top">
         <li class="nav-items">
            <div class="logo">
               <img src="../icons/logo2.png" alt="TrackRecord" >
            </div>
         </li>
      </div>
      <div class="main-nav">
         <li class="nav-items">
            <div class="nav-icon">
               <img src="../icons/home.svg" alt="ic-home"/>
            </div>
            <div class="nav-text">Dashboard</div>
         </li>
         <li class="nav-items">
            <div class="nav-icon">
               <img src="../icons/transaction.svg" alt="icon-transaction"/>
            </div>
            <div class="nav-text">Transactions</div>
         </li>
         <li class="nav-items">
            <div class="nav-icon">
               <img src="../icons/budget.svg" alt="icon-budget"/>
            </div>
            <div class="nav-text">Budget</div>
         </li>
         <li class="nav-items">
            <div class="nav-icon">
               <img src="../icons/analytics.svg" alt="icon-analytics"/>
            </div>
            <div class="nav-text">Analytics</div>
         </li>
         <li class="nav-items">
            <div class="nav-icon">
               <img src="../icons/notif.svg" alt="icon-notification"/>
            </div>
            <div class="nav-text">Notifications</div>
         </li>
      </div>

      <hr/>

      <div class="mid">
         <li class="nav-items down">
            <div class="nav-icon">
               <img  src="../icons/help.svg" alt="help-icon">
            </div>
            <div class="nav-text">Help</div>
         </li>
         <li class="nav-items down">
            <div class="nav-icon">
               <img  src="../icons/settings1.svg" alt="settings-icon">
            </div>
            <div class="nav-text">Settings</div>
         </li>
      </div>

      <hr/>

      <div class="bot">
         <li class="nav-items down">
            <div class="nav-icon">
               <img  src="../icons/login.svg" alt="login-icon">
            </div>
            <!-- <a href="/"><button class="nav-text" >Sign In</button></a> -->

            <a href="<%= isLoggedIn ? '/accounts' : '/' %>"> 
               <!-- TODO: change this to ejs -->
                <!-- should be accounts or login -->
               <button class="nav-text" ><%= isLoggedIn ? 'Account' : 'Sign-In' %>
               </button>
               <a href="/logout"><button class="nav-text" >Logout</button>
            </a>

         </li>
      </div>
   </nav>

      <script src="/js/dashboard.js"></script>
</body>
</html>