:root {
   --background: #112D4E;
   --primary-white: #F9F7F7;
   --white:#fff;
   --white-25:rgba(255, 255, 255, 25%);
   --black: #000;
   --lightblue: #DBE2EF;
   --bg-1:hsla(230, 87%, 59%, 0.1);
   --bg-2:rgba(32, 207, 238, 20%);
   --bg-3:rgba(59, 90, 241, 0.63);

   /* Border radius */
   --small-corner: 5px;
   --big-corner: 10px;
   --circle:50px;

   /* highlighter */
   --bg-1-1:hsla(230, 87%, 59%, 1);
   --bg-2-1:rgba(32, 207, 238, 1);
   --bg-3-1:hsla(230, 87%, 59%, 1);
}

* {
   margin: 0;
   padding:0;
   box-sizing: border-box;
   /* border: 1px solid red; */
}

.main-login {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100vh;
}
.featuresDiv {
   width: 50%;
   height: auto;
   border: 1px solid blue; 
   border-radius: 15px;
}
div.formDiv {
   width: 50%;
   display: flex ;
   justify-content: center;
   align-items: center;
}

form.login-form {
   display: flex;
   flex-direction: column;
}

form.login-form legend {
   display: flex;
   justify-content: center;
}

.sign-in_with_google{
   width: 100%
}

p.or-text {
   display: flex;
   justify-content: center;
   align-items: center;
}

.or-text::before,
.or-text::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: gray;
  opacity: 50%;
}

.or-text::before {
  margin-right: 10px;
}

.or-text::after {
  margin-left: 10px;
}