@import url('https://fonts.googleapis.com/css?family=Libre%20Caslon%20Text:700|Libre%20Caslon%20Text:400');

:root {
  --main-text: #0b191e;
  --main-bg: #f8fbfc;
  --main-prim: #41a4c8;
  --main-second: #89c9e1;
  --main-accent: #58b7da;

  /* Theme */
  /* 
  :root[data-theme="light"] {
    --text: #0b191e;
    --background: #f8fbfc;
    --primary: #41a4c8;
    --secondary: #89c9e1;
    --accent: #58b7da;
  }
  :root[data-theme="dark"] {
    --text: #e1eff4;
    --background: #030607;
    --primary: #379abe;
    --secondary: #1e5e76;
    --accent: #2584a7;
  }
  */

  /* Shades */
  /* 
  --text-50: #ecf5f8;
  --text-100: #daebf1;
  --text-200: #b5d7e3;
  --text-300: #8fc3d6;
  --text-400: #6aafc8;
  --text-500: #459bba;
  --text-600: #377c95;
  --text-700: #295d70;
  --text-800: #1c3e4a;
  --text-900: #0e1f25;
  --text-950: #070f13;

  --background-50: #edf5f7;
  --background-100: #dbebf0;
  --background-200: #b8d6e0;
  --background-300: #94c2d1;
  --background-400: #70adc2;
  --background-500: #4d99b3;
  --background-600: #3d7a8f;
  --background-700: #2e5c6b;
  --background-800: #1f3d47;
  --background-900: #0f1f24;
  --background-950: #080f12;

  --primary-50: #ebf6f9;
  --primary-100: #d7ecf4;
  --primary-200: #b0d9e8;
  --primary-300: #88c6dd;
  --primary-400: #61b3d1;
  --primary-500: #39a0c6;
  --primary-600: #2e809e;
  --primary-700: #226077;
  --primary-800: #17404f;
  --primary-900: #0b2028;
  --primary-950: #061014;

  --secondary-50: #ebf6fa;
  --secondary-100: #d6edf5;
  --secondary-200: #aedaea;
  --secondary-300: #85c8e0;
  --secondary-400: #5db5d5;
  --secondary-500: #34a3cb;
  --secondary-600: #2a82a2;
  --secondary-700: #1f627a;
  --secondary-800: #154151;
  --secondary-900: #0a2129;
  --secondary-950: #051014;

  --accent-50: #eaf6fa;
  --accent-100: #d5edf6;
  --accent-200: #abdbed;
  --accent-300: #82c9e3;
  --accent-400: #58b7da;
  --accent-500: #2ea6d1;
  --accent-600: #2584a7;
  --accent-700: #1c637d;
  --accent-800: #124254;
  --accent-900: #09212a;
  --accent-950: #051115; */



}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body {
  font-family: 'Libre Caslon Text';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Libre Caslon Text';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */
h1 {font-size: 7.595rem; /* 121.44px */}
h2 {font-size: 5.063rem; /* 80.96px */}
h3 {font-size: 3.375rem; /* 54.08px */}
h4 {font-size: 2.250rem; /* 36px */}
h5 {font-size: 1.500rem; /* 24px */}
small {font-size: 0.667rem; /* 10.72px */}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
