nav {
   width: 250px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: var(--main-prim);
   position: fixed;
   left: 0; 
   top: 0; 
}
.nav-items {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


.logo {
   display: flex;
   justify-content: center;
   padding-block: 20px;
}

.logo img {
   width: 70%;
   filter: brightness(10);
}

.others, .account {
  margin-bottom: 20px;
}


.others {
  margin-bottom: 50px;
}

.account {
   margin-bottom: 10px;
   margin-bottom: 10px;
   display: flex;
   gap: 10px;
   width: 100%;
   padding: 10px;
   color:var(--main-bg)
}

ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap:10px;
   width: 100%;
   margin-top:30px;
}

li {
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 20px;
   padding: 20px 10px;
   height: 30px;
   color: var(--main-bg);
   position: relative; 
   overflow: hidden;
}

/* TODO: Change this when changed on route  */
/* .nav-items ul a:first-child {
   background-color: var(--main-accent);   
}

.nav-items ul a:first-child::after {
  content: '';
  position: absolute;
  right: 0; 
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent; 
  border-bottom: 15px solid transparent; 
  border-right: 15px solid var(--main-bg); 
} */

/* Default styling for nav items */
.nav-items ul a li {
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

/* Active class for the selected link */
.nav-items ul a li.active {
  background-color: var(--main-accent); /* Highlight the active link */
  color: var(--main-text);
}

.nav-items ul a li .ic img.active {
   filter: none;
}

/* Active link with arrow */
.nav-items ul a li.active::after {
  content: '';
  position: absolute;
  right: 0; 
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent; 
  border-bottom: 15px solid transparent; 
  border-right: 15px solid var(--main-bg); /* Arrow pointing to the right */
}


li > .ic img,
.ic img {
   width: 20px;
   height: 20px;
   filter: invert(1);
}

li:hover,
.account:hover,
li:hover a,
.account:hover a {
   background-color: var(--main-accent);
   color: var(--main-text);
   animation: hover-list 0.2s ease-in-out forwards;
   cursor: pointer;
}

li:hover img,
.account:hover .ic img {
   filter: none;
}

li a,
.account a {
   text-decoration: none;
   color: var(--main-bg);
   display: flex;
   align-items: center;
   gap: 25px
}

.nav-items ul a,
.others ul a {
   color: var(--main-accent);
   text-decoration: none;
} 


@keyframes hover-list {
  0% {
    background-color: unset;
  }
  100% {
    background-color: var(--main-accent);
  }
}

