nav {
   width:350px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: var(--main-prim);
}

.nav-items {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


.logo {
   display: flex;
   justify-content: center;
   padding-block: 20px;
}

.logo img {
   width: 70%;
   filter: brightness(10);
}

.others, .account {
  margin-bottom: 20px;
}


.others {
  margin-bottom: 50px;
}

.account {
   margin-bottom: 10px;
   margin-bottom: 10px;
   display: flex;
   gap: 10px;
   width: 100%;
   padding: 10px;
   color:var(--main-bg)
}

ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap:10px;
   width: 100%;
   margin-top:30px;
}

li {
   display: flex;
   align-items: center;
   justify-content: start;
   /* border: 1px solid red; */
   gap: 20px;
   color: var(--main-text);
   padding: 20px 10px;
   height: 30px;
   color: var(--main-bg);
}

li > .ic img,
.ic img {
   width: 20px;
   height: 20px;
   filter: invert(1);
}

li:hover,
.account:hover {
   background-color: var(--main-accent);
   color: var(--main-text);
   animation: hover-list 0.2s ease-in-out forwards;
   cursor: pointer;
}

li:hover img,
.account:hover .ic img {
   filter: none;
}


@keyframes hover-list {
  0% {
    background-color: unset;
  }
  100% {
    background-color: var(--main-accent);
  }
}

