:root {
  --main-bg: #f5fdff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--main-bg);
}

header {
  display: flex;
  gap:20px; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app {
  display: flex;
  height: 100%;
  width: 100%;
}

nav.sideNav {
  grid-row: span 5 / span 5;
}

main {
  background-color: var(--main-bg);
  width: 100%;
  overflow: hidden;
  grid-column: span 5 / span 5;
  grid-row: span 5 / span 5;
}

section#dashboard {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  padding: 5px;
}

main.main-with-nav {
  margin-left: 250px;
  height: 100%;
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease-in-out;
  overflow: hidden;
}
main.main-full {
  margin-left: 0;
  width: 100%;
  height: 100%;
  transition: margin-left 0.3s ease-in-out;
  overflow: hidden;
}

section#dashboard {
  height: 100%;
  width: 100%;
  overflow: auto; /* Only scroll if content overflows */
  padding: 1rem;
  box-sizing: border-box;
}